<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gatunki Kiwi</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/gatunki.css">
</head>
<body>
<nav>
    <ul style="list-style-type: none; padding: 0; background-color: #333; margin: 0; text-align: center;">
        <li style="display: inline; margin-right: 10px;"><a href="#facts" style="text-decoration: none; color: white; padding: 10px 20px;">Fakty o kiwi</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="/gatunki" style="text-decoration: none; color: white; padding: 10px 20px;">Gatunki kiwi</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="#threats" style="text-decoration: none; color: white; padding: 10px 20px;">Zagrożenia</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="#habitat" style="text-decoration: none; color: white; padding: 10px 20px;">Gdzie żyje kiwi?</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="/logout" style="text-decoration: none; color: white; padding: 10px 20px;">Wyloguj się</a></li>
    </ul>
</nav>

<h1>Gatunki Kiwi</h1>
<p>Wszystkie kiwi są takie same, prawda? Błąd. W rzeczywistości istnieje pięć różnych gatunków kiwi, z których każdy ma swoje unikalne cechy.</p>
<div>
    <h2>Od trzech do pięciu gatunków</h2>
    <p>Badania genetyczne potwierdziły, że kiwi plamiste i małe plamiste są odrębnymi gatunkami.</p>
    <p>Ale także podzieliły brązowe kiwi na trzy odrębne gatunki: brązowe kiwi, rowi i tokoeka.</p>
    <p>Dzięki DNA, dziś formalnie uznaje się pięć gatunków kiwi.</p>
    <p>A dzięki dalszym badaniom genetycznym, w przyszłości może zostać zidentyfikowanych jeszcze więcej gatunków i/lub podgatunków, zwłaszcza w obrębie tokoeka.</p>
    <p>W 2016 r., w artykule opublikowanym przez naukowca z Uniwersytetu w Toronto i Departamentu Ochrony Przyrody, przyjrzano się bliżej różnym liniom pięciu uznanych gatunków.</p>
</div>
<div class="container">
    <div class="text-side">
        <h2>Brązowe kiwi z Wyspy Północnej</h2>
        <p><strong>Szacowana populacja: 24 550</strong></p>
        <p><strong>Szacowana populacja w 2030 r: 32,081</strong></p>
        <p><strong>Status zagrożenia DOC: Niezagrożony (zależny od ochrony)</strong></p>
        <p>Kiwi brązowe z Wyspy Północnej występują w czterech odrębnych regionach Wyspy Północnej: Northland, Coromandel, Eastern i Western. Znane są ze swoich długich nosów, krótkiego temperamentu i kolczastego brązowego upierzenia.</p>
        <button onclick="location.href='/gatunki/kiwi-brunatny'">Dowiedz się więcej</button>
    </div>
    <div class="image-side">
        <img src="/kiwi-brunatne.jpg" alt="Kiwi brunatny z Wyspy Północnej">
    </div>
</div>


</body>
</html>
