<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Kiwi Plamisty</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<nav>
    <ul style="list-style-type: none; padding: 0; background-color: #333; margin: 0; text-align: center;">
        <li style="display: inline; margin-right: 10px;"><a href="/kiwi-facts" style="text-decoration: none; color: white; padding: 10px 20px;">Fakty o kiwi</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="/gatunki" style="text-decoration: none; color: white; padding: 10px 20px;">Gatunki kiwi</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="/gdzie-zyje-kiwi" style="text-decoration: none; color: white; padding: 10px 20px;">Gdzie żyje kiwi?</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="/admin/dashboard" style="text-decoration: none; color: white; padding: 10px 20px;">Panel Admina</a>
        </li>
        <li style="display: inline; margin-right: 10px;"><a href="/logout" style="text-decoration: none; color: white; padding: 10px 20px;">Wyloguj się</a></li>
    </ul>
</nav>

<h1 th:text="'Edytuj ' + ${kiwi.commonName}"></h1>

<form th:action="@{/gatunki/kiwi-brunatny/update}" method="post">
    <input type="hidden" name="id" th:value="${kiwi.id}" />

    <label for="commonName">Common Name:</label>
    <input type="text" id="commonName" name="commonName" th:value="${kiwi.commonName}" />

    <label for="name">Scientific Name:</label>
    <input type="text" id="name" name="name" th:value="${kiwi.name}" />

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:text="${kiwi.description}"></textarea>

    <button type="submit" class="button">Zaktualizuj</button>
</form>

<a class="button" th:href="@{/gatunki/kiwi-plamisty}">Powrót do Kiwi Plamisty</a>
</body>
</html>
