<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${kiwi.commonName} + ' - Kiwipedia'"></title>
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<nav>
  <ul style="list-style-type: none; padding: 0; background-color: #333; margin: 0; text-align: center;">
    <li style="display: inline; margin-right: 10px;"><a href="/kiwi-facts" style="text-decoration: none; color: white; padding: 10px 20px;">Fakty o kiwi</a></li>
    <li style="display: inline; margin-right: 10px;"><a href="/gatunki" style="text-decoration: none; color: white; padding: 10px 20px;">Gatunki kiwi</a></li>
    <li style="display: inline; margin-right: 10px;"><a href="/gdzie-zyje-kiwi" style="text-decoration: none; color: white; padding: 10px 20px;">Gdzie żyje kiwi?</a></li>
    <li sec:authorize="hasRole('ADMIN')">
      <a href="/admin/dashboard" style="text-decoration: none; color: white; padding: 10px 20px;">Panel Admina</a>
    </li>
    <li style="display: inline; margin-right: 10px;"><a href="/logout" style="text-decoration: none; color: white; padding: 10px 20px;">Wyloguj się</a></li>
  </ul>
</nav>
<h1 th:text="${kiwi.commonName} + ' (' + ${kiwi.name} + ')'"></h1>
<div th:if="${not #strings.isEmpty(successMessage)}">
  <p th:text="${successMessage}"></p>
</div>
<div>
  <p th:text="${kiwi.description}"></p>
  <div th:each="taxonomy : ${taxonomyList}">
    <p th:text="${taxonomy.additionalInfo}"></p>
    <p th:text="${taxonomy.info}"></p>
  </div>
</div>
<a th:href="@{/gatunki/kiwi-plamisty/edit}" class="button">Edytuj</a>
</body>
</html>
