<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${kiwi.commonName} + ' - Wikipedia'"></title>
</head>
<body>
<h1 th:text="${kiwi.commonName} + ' (' + ${kiwi.name} + ')'"></h1>
<div th:if="${not #strings.isEmpty(successMessage)}">
  <p th:text="${successMessage}"></p>
</div>

<div>
  <h2>Taksonomia</h2>
  <p th:text="${kiwi.description}"></p>
</div>

<!-- Update Form -->
<form action="/gatunki/update" method="post">
  <input type="hidden" name="id" th:value="${kiwi.id}" />

  <label for="commonName">Common Name:</label>
  <input type="text" id="commonName" name="commonName" th:value="${kiwi.commonName}" />

  <label for="name">Scientific Name:</label>
  <input type="text" id="name" name="name" th:value="${kiwi.name}" />

  <label for="description">Description:</label>
  <textarea id="description" name="description" th:text="${kiwi.description}"></textarea>

  <button type="submit">Update</button>
</form>

<!-- Delete Button/Form -->
<form action="/gatunki/delete" method="post">
  <input type="hidden" name="id" th:value="${kiwi.id}" />
  <button type="submit">Delete</button>
</form>

</body>
</html>
