<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista Użytkowników</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<nav>
    <ul style="list-style-type: none; padding: 0; background-color: #333; margin: 0; text-align: center;">
        <li style="display: inline; margin-right: 10px;"><a href="/kiwi-facts" style="text-decoration: none; color: white; padding: 10px 20px;">Fakty o kiwi</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="/gatunki" style="text-decoration: none; color: white; padding: 10px 20px;">Gatunki kiwi</a></li>
        <li style="display: inline; margin-right: 10px;"><a href="/gdzie-zyje-kiwi" style="text-decoration: none; color: white; padding: 10px 20px;">Gdzie żyje kiwi?</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="/admin/dashboard" style="text-decoration: none; color: white; padding: 10px 20px;">Admin Panel</a>
        </li>
        <li style="display: inline; margin-right: 10px;"><a href="/logout" style="text-decoration: none; color: white; padding: 10px 20px;">Wyloguj się</a></li>
    </ul>
</nav>
<h1>Lista Użytkowników</h1>
<div>
    <ul>
        <li th:each="user : ${users}">
            <span th:text="${user.username}"></span> :
            <span th:each="role : ${user.roles}">
                <span th:text="${role.name}"></span>;
            </span>
            <form th:action="@{'/admin/manage-users/delete/' + ${user.id}}" method="post">
                <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?');">Usuń</button>
            </form>
        </li>
    </ul>
</div>
<div>
    <a href="/admin/dashboard" class="button">Powrót do panelu admina</a>
</div>
</body>
</html>
