<!DOCTYPE html>
<html>
<head>
    <title>Zarejestruj się</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div  class="login-container">
    <h2>Zarejestruj się</h2>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" required><br>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" required><br>
        </div>
        <button type="submit">Zarejestruj się</button>
    </form>
    <p class="signup-link">Masz już konto? <a href="/login">Zaloguj się</a></p>
</div>
</body>
</html>
